@import  "../../../../styles/global-colors.scss";

.main{
  width: 100%;
  height: 620px;
  background-color: $Gray-light;
}
.cardsContent{
  width: 100%;
  height: 34%;
  padding: 0 3%;
  background-color: $Gray-light;
  h2{
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: left;
}
.title{
  font-size: 20px;
}
.description{
  text-align: justify;
  
}
}
.cardsContainer{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  
}
.imgCard{
    background-color: $Dark;
    width: 600px;
    height: 350px;
    margin: 0 5%;
    border-radius: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
.imgCard1{
  @extend .imgCard ;
}
.imgCard2{
  @extend .imgCard ;
}
@media (max-width:826px){
  .cardsContainer{
    display: flex;
    flex-wrap: wrap;
  }
  .cardsContent{
    padding-top: 10%;
        h2{
          font-size: 20px;
          text-align: center;
            }
            .description{
              font-size: 14px;
            }
  }
  .main{
   
    height: 1200px;
  }
  
}