@import "../../../../styles/global-colors.scss";

.header{
    width: 100%;
    height: 75px;
    background-color: $Gray-dark;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
}
.navBar{
   display: flex;
   gap: 20px;
   .petZoneLogo{
    color: $Purple-dark;
    position: relative;
    :hover{
        color: $Purple-light;
    }
   }
}
.connectNav{
    display: flex;
    gap: 20px;
    .registerBtn{
        background-color: $Purple-dark;
        padding: 10px;
        border-radius: 30px;
    }
}
