@import "../../../../styles/global-colors.scss";

.header{
    width: 100%;
    height: 75px;
    background-color: $Gray-dark;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
}
.navBar{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
   .bar {
    width: 2px;
    height: 34px; 
    background-color: $Gray-light; 
    opacity: 0.5; 
        }
   a{
    transition: 400ms;
    &:hover{
        color: $Purple-dark;  
    }
    &:not(.petZoneLogo):hover {
       font-size: 18px;
       border-bottom: 2px solid $Gray-light;
    }
   }
   .petZoneLogo{
    color: $Purple-dark;
    font-size: 25px;
    position: relative;
    
   }

}
.connectNav{
    display: flex;
    gap: 20px;
    .registerBtn{
        background-color: $Purple-dark;
        padding: 10px;
        border-radius: 30px;
    }
   a{
    transition: 600ms;
    &:hover{
        color: $Dark;
    }
    &:not(.registerBtn):hover {
        color: $Purple-dark;;
     }
   }
}

@media (max-width:500px){
    .header{
        flex-direction: column;
        align-items: center;
        height: 100px;
    }
    .connectNav{
        margin-bottom: 5px;
    }
}
