@import "../../../../styles/global-colors.scss";

.imgSection{
    width: 50%;
    height: 100%;
    background-image: url("https://s3-alpha-sig.figma.com/img/78d3/8792/506a23fcaa38fd6895234578ab712fa0?Expires=1693180800&Signature=cGlhUfA4RP63Bic3LnPxKEbhrd60pHFkPAQPC5zbkQVCKhE8B7wJ7kQfwylHQxCCdQkIBtwCsFP4BvlTL7~Y~Tw-L2SEr4ukK029GsXMZzjqUn6opzX2nDyY5kbzvbuvNu65qTinJLYdW8rppS8rGxy40OiMbz4ILdEgeDoYRZG1CzFGkzWRFGEqHl-axHwFOW5kJ~6Ziy87tdKGAHJuRO~Ag~mS-Zerp3yf2rz4ayHJ5z1PGTri3ngPpz4~UMV93Y57cIXMIQNCNOgb8VFm2y6st4cNSqwjPCVdIfKxcfWRzFbwDKg7FD90PojpeIu37HgdH8fmPbVysBvKnho6Tg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
    background-position: 80%;
    background-repeat: no-repeat;
    background-size: cover;

}

.logo{
    margin: 10%;
    color: $Pink;
    font-size: 40px;
   
}
@media(max-width:768px){
   
    .imgSection{
        width: 100%;
        background-size: cover;
        background-image: url("https://www.publicdomainpictures.net/pictures/40000/nahled/gray-background-1361959709geQ.jpg");
    }
 }