@import "../../../../styles/global-colors.scss";

.imgSection{
    width: 50%;
    height: 100%;
    background-image: url("https://media.istockphoto.com/id/621578412/pt/foto/cute-dog-giving-his-paw.jpg?s=1024x1024&w=is&k=20&c=gu2x-GOnY0abEjX-EVzJagPQis7PGpx7A6yatXfKwD0=");
    background-position: center left;
    background-repeat: no-repeat;
    background-size: cover;

}

.logo{
    margin: 10%;
    color: $Pink;
    font-size: 40px;
   
}
@media(max-width:768px){
   
    .imgSection{
        width: 100%;
        min-height: 100px;
        background-size: cover;
        background-image: url("https://www.publicdomainpictures.net/pictures/40000/nahled/gray-background-1361959709geQ.jpg");

    }
 }