@import "../../../../../styles/global-colors.scss";

.content{
    flex-grow: 1;
    background-color:$Gray-light ;
    display: flex;
    flex-direction: column;
    
}
.contentNoAnimals{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contentAnimal{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
    gap:30px;
    flex-wrap: wrap;
    margin-top: 5%;
    width: 100%;
    height: 100%;
    .petName{
        font-size: 1.5rem;
        font-weight: bold;
        align-self: center; 
    }
    .atributte{
        color: $Purple-dark;
    }
    .date{
        font-size: 1rem;
    }
}
.listAnimal{
    background-color: $White;
    height: 450px;
    width: 280px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    .petImg{
        width: 260px;
        height: 156px;
    }
    .petAtts{
        display: flex;
    }
}


.addVacina{
    font-size: 15px;
    a{
        color: $Purple-light;
        &:hover{
            border-bottom: 1px solid  $Purple-light;
            transition: ease-in-out  500ms;
        }
    }
}

@media(max-width:1286){
    .listAnimal{
        height: 250px;
        width: 180px;
    }
}