@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;400;700;900&family=Roboto:wght@300;500;700&display=swap');
@import  "global-colors.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
 li{
  list-style: none;
 }
 a{
  text-decoration: none;
  color: $White;
 }
 button{
  text-decoration: none;
  text-shadow: none;
 }
}
body{
  display: flex;
  flex-direction: column;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: $Gray-dark;
}
::-webkit-scrollbar-thumb {
  background: #868686;
  border-radius: 40px;
}
