@import "../../../../styles/global-colors.scss";


.footer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: $Gray-light;
    height: 80px;
    align-items: center;
    justify-content: center;
}
.container{
    width: 70%;
    height: auto;
    border-top: 2px solid $Gray-dark ;
}
.listFooter{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 2% 0 0 0;
    li{
        color: $Gray-dark;
    }
}